<div class="container">
  <div class="grid-6">
    <table mat-table [dataSource]="interests">
      <ng-container matColumnDef="id-column">
        <th mat-header-cell *matHeaderCellDef> ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="interest-column">
        <th mat-header-cell *matHeaderCellDef> Interesses</th>
        <td class="tableTextPadding" mat-cell *matCellDef="let element"> {{element.interest}} </td>
      </ng-container>

      <ng-container matColumnDef="category-column">
        <th mat-header-cell *matHeaderCellDef> Categorie</th>
        <td class="tableTextPadding" mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <ng-container matColumnDef="corpId-column">
        <th mat-header-cell *matHeaderCellDef> CorpId</th>
        <td mat-cell *matCellDef="let element"> {{element.corpId}} </td>
      </ng-container>

      <ng-container matColumnDef="delete-column">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" id="{{element.id}}">
          <button id="deleteButton" (click)="deleteById(element.id)" mat-button color="primary">Verwijderen</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="edit-column">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" id="{{element.id}}">
          <button id="editButton" (click)="fillEdit(element)" mat-button color="primary">Aanpassen</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    </table>
  </div>

  <div class="grid-6 form-block">

    <mat-form-field class="inputForm topInput" appearance="fill">
      <mat-label>Categorieën</mat-label>
      <mat-select id="formSelectCategory" [(ngModel)]="InterestModel.category" #formCategory>
        <mat-option [value]="null" disabled>Selecteer categorie</mat-option>
        <mat-option id="option{{category.category}}" *ngFor="let category of categories" [value]="category.category">{{category.category}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="inputForm topInput" appearance="fill" style="display: none">
      <mat-label>ID</mat-label>
      <input id="formId" matInput [(ngModel)]="InterestModel.id" #formId>
    </mat-form-field>
    <mat-form-field class="inputForm" appearance="fill">
      <mat-label id="formInterest">Beschrijf wat je precies wil weten</mat-label>
      <input  matInput [(ngModel)]="InterestModel.interest" #formInterest>
    </mat-form-field>

    <mat-form-field class="inputForm" appearance="fill" style="display: none">
      <mat-label>Corp ID</mat-label>
      <input id="formCorpId" matInput [(ngModel)]="InterestModel.corpId" #formCorpId>
    </mat-form-field>


    <button id="save-button" mat-button color="primary" aria-label="" (click)="postInterest()">
      Opslaan
    </button>



  </div>
</div>



