<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{data.name}}</mat-card-title>
    <mat-card-subtitle>{{data.category}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div id="texblock" [ngClass]="{'limitTextHeigt': isReadMore}" class="setHeight">

      {{data.description}}
    </div>
  </mat-card-content>
  <mat-card-actions>

      <button mat-raised-button (click)="loadDetailPage(data.id)">
        {{ isReadMore ? 'Zie meer': 'Zie minder' }}
      </button>

  </mat-card-actions>
</mat-card>
